$background-gray: #121212;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

@mixin flex-center(){
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin flex-center-col(){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin absoluteCenter($width, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $width;
  height: $height;
  margin-top: calc($height/-2);
  margin-left: calc($width/-2);
}
