@use './index.scss';

.movie-page {
    background-color: index.$background-gray;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;
        width: 90%;
        min-height: 100%;
        margin-top: 2.5rem;
        color: #fff;

        .heading {
          position: relative;
          margin-bottom: 2.5rem;
        }

        .grid {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr;
          column-gap: 1.5rem;
          max-width: 100%;
        }
    }

    .go-back {
      width: 25px;
      height: 25px;
      color: #fff;
      cursor: pointer;
      position: absolute;
      left: 0;
    }
}

.grid > .left {
    img {
        width: 100%;
        height: auto;
    }
}

.description {
    max-width: 50vw;
    h2 {
        margin-bottom: 0.2rem;
    }

    .media_info {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;
    }
}

.release-year {
    margin-right: 0.4rem;
}

.options {
    background-color: #36454F;
    border-radius: 0.4rem;

    div {
        padding: 10px;
    }

    div:not(:last-child) {
      border-bottom: 1px solid #A9A9A9;
    }

    .icons {
      @include index.flex-center;
      font-size: 1.5rem;

      span {
        @include index.flex-center;
        margin: 0 5px;
        cursor: pointer;
      }
    }

    button {
        width: 100%;
        border: none;
        background-color: transparent;
        color: #fff;
    }
}

.add-to-list-modal {
  @include index.absoluteCenter(250px, 200px);
  width: 250px;
  height: 200px;
  background-color: #36454F;
  overflow-y: auto;

  .modal_heading {
    @include index.flex-space-between;
    padding: 0.3rem 0.6rem;
    margin-bottom: 3px;

    .icon {
        color: #fff;
    }
  }

  .modal_container {
    .list {
      width: 100%;
      height: fit-content;
      padding: 0.3rem 0;
      border-bottom: 1px solid #A9A9A9;
      border-top: 1px solid #A9A9A9;

      &:hover {
        background-color: #A9A9A9;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .movie-page {
    overflow-y: auto;
    margin-bottom: 2.8rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 800px){
  .grid {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.3rem;

    .left {
      @include index.flex-center;
    }

    .left img{
      width: 50%;
    }

    .description {
      max-width: 85vw;
    }

    .options {
      width: 85vw;
    }
  }
}
